<h1>{{title}}</h1>

<nav>
    <a [routerLink]="['Dashboard']">Dashboard</a>

    <!-- If we paste the path, /heroes, into the browser address bar,
    the router should match it to the 'Heroes' route and display the HeroesComponent. But where? -->
    <a [routerLink]="['Heroes']">Heroes</a>
</nav>

<!-- We have to tell it where by adding <router-outlet> marker tags to the bottom of the template.
    RouterOutlet is one of the ROUTER_DIRECTIVES.
    The router displays each component immediately below the <router-outlet> as we navigate through the application. -->
<router-outlet></router-outlet>